$mainColor:#034543;
$secondary-colors:(
    white:#FFFFFF,
    black:#000000
);
$colors:(
    color1:#6C9A88,
    color2:#E8998D,
    color3: #EED2CC,
    color4:#FBF7F4,
    color5:#A1683A,
) !default;

$text-font: 'Open Sans', sans-serif;
$logo-font: 'Lobster', cursive;

$small-width:48rem;
$large-width:64rem;